*{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}
header{
    text-align: center;

}
header h1{ 
    height: 9vh;
    width: 100vw;
    background-color: aquamarine;
    display:flexbox;
}
form{
    text-align: center;
    margin-top: 10vh;
    
}
.d1{
    height: 40vh;
    width: 30vw;
    background-color: rgb(195, 236, 236);
    margin-left: 30vw;
    border-radius: 5px;
}
.d1 input{
    margin-top: 2.5vh;
    width: 25vw;
    font-size: small;
    font-weight: lighter;
    border: 1px solid rgb(195, 236, 236);
    border-radius: 3px;
    text-align: center;
}
.d1 #s1:hover{
    background-color: cadetblue;
    border-color: cadetblue; 
    color: rgb(22, 2, 124); 
    font-family:Georgi; 
    font-size: medium; 
    font-weight: bolder;

}
body {
  background: #1D1F20;
  height: 100vh;
}

.button {
  background: #2B2D2F;
  height: 80px;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 8px;
}

.text {
  font: bold 1.25rem/1 poppins;
  color: #71DFBE;
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  left: 0;
  right: 0;
}

.progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: #71DFBE;
}

svg {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
}

.check {
  fill: none;
  stroke: #1D1F20;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}
