*{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}
header{
    text-align: center;

}
header h1{ 
    height: 9vh;
    width: 100vw;
    background-color: aquamarine;
    display:flexbox;
}
form{
    text-align: center;
    margin-top: 10vh;
    
}
.d1{
    height: 40vh;
    width: 30vw;
    background-color: rgb(195, 236, 236);
    margin-left: 30vw;
    border-radius: 5px;
}
.d1 input{
    margin-top: 2.5vh;
    width: 25vw;
    font-size: small;
    font-weight: lighter;
    border: 1px solid rgb(195, 236, 236);
    border-radius: 3px;
    text-align: center;
}
.d1 #s1:hover{
    background-color: cadetblue;
    border-color: cadetblue; 
    color: rgb(22, 2, 124); 
    font-family:Georgi; 
    font-size: medium; 
    font-weight: bolder;

}
/* Loader Overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;  /* Hidden by default */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

/* Spinner Animation */
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #fff;
    border-top: 6px solid #00ff00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.loader-overlay p {
    color: white;
    margin-top: 15px;
    font-size: 18px;
}

/* Optional styling for message */
#message {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
